.display {

   margin-left: auto;
   margin-right: auto;
    width: 800px;


}


.flex {
    display: flex;




}

.main-title{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    padding: 0;
    margin-bottom: 0;
    font-weight: 200;
}


.bottom-tab{
  
}

.button-holder{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    /* div.grey.card{
        display: none !important;

    }
    div.overlays{
        display: none !important;
        
    }
    div.mapboxgl-map{
        display: none !important;

    } */
}