.display {

   margin-left: auto;
   margin-right: auto;
    width: 800px;


}


.flex {
    display: flex;




}

.main-title{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    padding: 0;
    margin-bottom: 0;
    font-weight: 200;
}