.card.grey{
    background-color: rgb(156, 156, 156);
    height: 98.4%;
    width: 350px
}

div h1{
    font-size: small;
    position: relative;
    top: 400px;
    left: 60px;
    font-weight: 400;


 
}